main {
  width: 100%;
  height:80vh;
  position: absolute;
  top: 15%;
  background-color: #A7C5C5;
}
.container {
  height: contain;
  background-color: #E2AC48;
  display:flex;
  justify-content:space-around;
}
.content {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding:2%;
    justify-content:space-around;
    align-content:center;
    align-items:center;

}
.rew {
    width:33vw;
    height:33vw;
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
}
.p {
    background-color:white;
    margin: 1%;
    padding: 1%;
    border-radius: calc((1em + 2vh) / 2 )
}
.description {
    padding:1%;
  background-color: #A7C5C5;
}
