<main>
  <div class="bg">
    <div class="contact">
      <div class="title black">For more info or booking contact us</div>
      <div class="container">
        <div class="card" (click) ="waRedirect()">
          <p>WhatsApp</p>
          <div class="waico"></div>
          <p>+393931964466</p>
        </div>
        <div class="card" (click) ="phoneRedirect()">
          <p>Phone</p>
          <div class="phoneico"></div>
          <p>+393931964466</p>
        </div>
        <div class="card" (click) ="mailRedirect()">
          <p>E-mail</p>
          <div class="mailico"></div>
          <p>LydiaSchembri&#64;gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</main>

